/* colors

light gray #D8D5D2
dark gray #333
purple #A2C
red #D26
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* font-size on html for rem*/
html {
  font-family: Texta, sans-serif;
  font-size: 17px;
  line-height: 1.5;
}

html.export {
  font-family: sans-serif;
  font-size: 15px;
}


body {
  color: #333;
  background: #D8D5D2;
}

/* ---- links ---- */

a,
a code {
  color: #A2C;
  text-decoration: none;
}

a:hover,
a:hover code {
  color: #D26;
}


/* ---- headers ---- */

h1, h2, h3, h4 {
  line-height: 1.25;
}

/* ---- lists ---- */

ul, ol {
  padding-left: 1.8em;
}

/* ---- code ---- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
}

@media screen and ( min-width: 768px ) {

  html {
    font-size: 19px;
  }

  html.export { font-size: 16px; }

  pre, code, kbd {
    font-size: 15px;
  }

}

