/* Code
------------------------- */

pre, code {
  font-family: Consolas, Menlo, monospace;
  font-size: 14px;
  background: #222;
  color: white;
}

pre {
  padding: 0.8em;
  border-radius: 5px;
  white-space: pre-wrap;
}

code {
  padding: 0.2em 0.3em;
  line-height: 1.2;
  border-radius: 3px;
}
pre code {
  padding: 0;
  line-height: 1.5;
  background: none;
}

a code {
  background: #A2C;
  color: white;
}

a:hover code {
  color: white;
  background: #D26;
}

code .string,
code .tag .value { color: #0C4; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #38F; } /*boolean*/
code .keyword { color: #F73; } /* keyword */
code .kd, /* storage */
code .attribute { color: #DC8; } /* markup attribute */
code .title { color: #9CF; }
code .params { color: #98D; }
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #6CF; } /* Markup open tag */

code .id { color: #ABC; } /* css id */
code .class { color: #A63; }  /* CSS class */
code .rules { color: #FED; }
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }
