/* ---- demos ---- */

.demo .packery,
.demo.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}

.demo .button {
  margin-bottom: 0.8em;
}

/* ---- measurement demos ---- */

#column-width-demo2 .grid-sizer {
  width: 20%;
}

#row-height-demo2 .grid-sizer {
  height: 60px;
}

#gutter-demo2 .gutter-sizer {
  width: 3%;
}

/* ---- stamp ---- */

.has-stamp {
  position: relative;
}

.demo .stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: red;
  border: 4px dotted white;
}

#stamped-demo .stamp1 {
  left: 20%;
  top: 10px;
}

#stamped-demo .stamp2 {
  right: 10%;
  top: 80px;
}

#stamp-demo .stamp {
  left: 20%;
  top: 50px;
  width: 50%;
  height: 100px;
}

#stamp-demo .item { opacity: 0.8; }

/* ---- draggable ---- */

.draggable .item {
  cursor: move;
}

.draggable .item:hover {
  border-color: white;
}

.packery.draggable .item.is-dragging,
.packery.draggable .item.is-positioning-post-drag,
.packery.draggable .item.ui-draggable-dragging {
  border-color: white;
  background: #09F;
  z-index: 10;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.4);
}

/* ---- fit ---- */

#fit-demo .item {
  width: 25%;
  height: 60px;
}

#fit-demo .item.gigante {
  width: 100%;
  background: #C90;
  height: 90px;
}

/* ---- layout ---- */

.clickable .item:hover {
  border-color: white;
  cursor: pointer;
}

/* ---- animate-item-size ---- */

/* item is invisible, but used for layout */
#animate-item-size .item,
#animate-item-size .item-content {
  width: 60px;
  height: 60px;
}

#animate-item-size .item {
  border: none;
  background: transparent;
}

/* item-content is visible, and transitions size */
#animate-item-size .item-content {
  width: 60px;
  height: 60px;
  background: #09D;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

#animate-item-size .item:hover .item-content {
  border-color: white;
}

/* both item and item content change size */
#animate-item-size .item.is-expanded,
#animate-item-size .item.is-expanded .item-content {
  width: 180px;
  height: 120px;
}

#animate-item-size .item.is-expanded {
  z-index: 2;
}

#animate-item-size .item.is-expanded .item-content {
  background: #C90;
}


/* ---- animate item size responsive ---- */

#animate-item-size-responsive .item {
  width: 20%;
  height: 60px;
  border: none;
  background: transparent;
}

#animate-item-size-responsive .item-content {
  width:  100%;
  height: 100%;
  background: #09D;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: width 0.4s, height 0.4s;
     -moz-transition: width 0.4s, height 0.4s;
       -o-transition: width 0.4s, height 0.4s;
          transition: width 0.4s, height 0.4s;
}

/* item has expanded size */
#animate-item-size-responsive .item.is-expanded {
  width: 60%;
  height: 120px;
}

#animate-item-size-responsive .item:hover { cursor: pointer; }

#animate-item-size-responsive .item:hover .item-content {
  border-color: white;
}

#animate-item-size-responsive .item.is-expanded {
  z-index: 2;
}

#animate-item-size-responsive .item.is-expanded .item-content {
  background: #C90;
}

/* ---- order after drag ---- */

#order-after-drag-demo .item {
  padding: 10px;
  font-size: 20px;
  color: white;
}
