#footer {
  margin-top: 3.0em;
  color: #888;
  background: #F8F5F2;
  padding: 3.0em 0;
}

#footer .primary-content {
  padding: 2.0em 0;
}

#footer .made-by,
#footer .also {
  font-size: 16px;
/*  font-size: 13px;
  font-style: italic;*/
}
