#hero {
}

#hero .primary-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

#hero h1 {
  font-size: 70px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #D26;
  margin-bottom: 0.1em;
}

#hero .tagline {
  font-size: 24px;
  margin-bottom: 0.8em;
  line-height: 1.2;
}


/* ---- big ol buttons ---- */

#hero .button {
  display: block;
  font-size: 1.3em;
  line-height: 1.2em;
  position: relative;
  padding-left: 50px;
  background: #D26;
}

#hero .button:hover { background: #A2C; }

#hero .button .icon {
  font-size: 32px;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---- big tagline ---- */

#big-tagline {
  background: #0C9;
  color: white;
  padding: 20px 0;
}

#big-tagline .tagline {
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 36px;
}

#big-tagline strong {
  color: #333;
  color: hsla(0, 0%, 0%, 0.6);
}

/* ---- hero packery ---- */

.hero-masonry {
  background: white;
  border-radius: 10px;
  padding: 10px 1%;
}

.hero-masonry:after {
  content: '';
  display: block;
  clear: both;
}

.hero-item,
.hero-masonry .grid-sizer {
  width: 22.5%;
  margin: 10px 1%;
  float: left;
  border-radius: 8px;
}

/* necessary for proper sizing with margins */
.hero-masonry .grid-sizer {
  position: absolute;
}

.hero-item.texty {
  background: #D8D6D2;
  padding: 10px;
}


/* juse a lil under  47 */
.hero-item.has-title,
.hero-item.w2 {
  width: 46.9%;
}

/* ---- desktop ---- */

@media screen and ( min-width: 960px ) {

  #hero h1 {
    font-size: 120px;
  }

  #hero .tagline {
    font-size: 32px;
  }

  /* just a little under 71.5 */
  .hero-item.has-title {
    width: 71.4%;
  }

  /* buttons */

  .big-ol-buttons .button {
    font-size: 1.6em;
    padding-left: 86px;
    min-height: 94px;
  }

  .big-ol-buttons .icon {
    font-size: 56px;
    left: 18px;
    top: 16px;
  }

}
