.tagline {
  font-size: 1.5em;
  line-height: 1.35;
  margin-bottom: 0.4em;
}

/* ---- button ---- */

.button {
  display: inline-block;
  background: #A2C;
  border: none;
  padding: 0.8em 1.0em;
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  border-radius: 7px;
}

.button:hover {
  background: #C3E;
  color: white;
}

.button:active {
  background: #91B;
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.6);
}

/* ---- #content ---- */

#content .primary-content,
#footer .primary-content {
  border-top: 2px solid #F8F5F2;
}

#content li {
  margin-bottom: 0.2em;
}

/* ---- parameters ---- */

.params {
  padding: 0;
  list-style: none;
}

.param {
  background: hsla(0, 0%, 0%, 0.075);
  padding: 0.4em 0.8em;
  margin: 0;
  border-radius: 5px;
}

.param,
.param code {
  font-size: 14px;
}

/* just one param */
div.param {
  margin-bottom: 0.4em;
}

.param-bit {
  display: inline;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 1.0em;
}

.param-bit:last-child { margin-right: 0}

.param-name {
  font-size: 15px;
  font-weight: normal;
  color: #333;
}

.param-bit b {
  font-weight: normal;
}

.param-bit.type .value {
  color: #279;
}

/* ---- masonry ---- */

.masonry {
}

/* clearfix */
.masonry:before,
.masonry:after {
  content: " ";
  display: table;
}

.masonry:after {
  clear: both;
}

/* ---- masonry items ---- */

.masonry .item {
  width:  60px;
  height: 40px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.masonry .item.w2 { width:  120px; }
.masonry .item.w3 { width:  180px; }
.masonry .item.w4 { width:  240px; }

.masonry .item.h2 { height:  70px; }
.masonry .item.h3 { height: 100px; }
.masonry .item.h4 { height: 150px; }

.masonry .item.gigante {
  width: 180px;
  height: 180px;
  z-index: 10; /* keep it above other items */
}

/* ---- instruction ---- */

.instruction {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #888;
}

/* ---- warning ---- */

.warning {
  position: relative;
  min-height: 40px;
  background: #FF8;
  border-radius: 5px;
  margin-bottom: 0.8em;
  padding: 10px;
  padding-left: 60px;
}

.warning p:last-child {
  margin-bottom: 0;
}

.warning:before {
  content: '!';
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: red;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* ---- notification ---- */

#notification {
  display: none; /* hide by default */
  position: fixed;
  z-index: 20; /* above most stuff */
  bottom: 0px;
  right: 0px;
  background: #A2C;
  padding: 0.5em;
  color: white;
  font-size: 20px;
  pointer-events: none;
}

/* ---- desktop media query ---- */

@media screen and ( min-width: 960px ) {
  .tagline {
    font-size: 1.8em;
  }
}
