/* ---- instruction ---- */

.instruction {
  font-size: 18px;
  margin-bottom: 0.2em;
  color: #888;
}

/* ---- notification ---- */

#notification {
  display: none; /* hide by default */
  position: fixed;
  z-index: 20; /* above most stuff */
  bottom: 0px;
  right: 0px;
  background: #A2C;
  padding: 0.5em;
  color: white;
  font-size: 20px;
  pointer-events: none;
}
