/* other-products
------------------------- */

.other-product {
  margin-bottom: 10px;
}

.other-product__link {
  position: relative; /* gonna abs */
  display: block;
  padding: 0px;
  background: #E8E5E2;
  border-radius: 5px;
  color: #D26;
}

.other-product__link:hover {
  background: white;
  color: #A2C;
}

.other-product__link:after {
  content: '';
  display: block;
  clear: both;
}

.other-product__image {
  float: left;
  display: block;
  width: 100%;
  max-width: 140px;
  margin: 10px;
  border-radius: 5px;
}

.other-product__title {
  margin: 10px 0;
  padding-top: 10px;
  line-height: 1.2;
  font-weight: bold;
  font-size: 2.0em;
}

.other-product__description {
  line-height: 1.2;
  margin: 0;
}
