<div class="site-nav">
  <div class="container">
    <ol class="site-nav__list">
      <li class="site-nav__item site-nav__item--homepage">
        <a href=".">Masonry</a></li>
      <li class="site-nav__item site-nav__item--options">
        <a href="options.html">Options</a></li>
      <li class="site-nav__item site-nav__item--methods">
        <a href="methods.html">Methods</a></li>
      <li class="site-nav__item site-nav__item--events">
        <a href="events.html">Events</a></li>
      <li class="site-nav__item site-nav__item--appendix">
        <a href="appendix.html">Appendix</a></li>
      <li class="site-nav__item site-nav__item--faq">
        <a href="faq.html">FAQ</a></li>
    </ol>
  </div>
</div>
