<div class="masonry masonry--percent-width js-masonry" data-masonry-options='{ "columnWidth": ".grid-sizer", "itemSelector": ".item", "percentPosition": true }'>
  <div class="grid-sizer"></div>
  {{> basic-demo-items}}
</div>
<p class="edit"><a href="http://codepen.io/desandro/pen/JFpeg">Edit this example on CodePen</a></p>
