<!doctype html>
<!--[if lte IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Cascading grid layout library" />

  <title>Masonry{{#unless page.is_homepage}} {{page.title}}{{/unless}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />

  {{#if is_dev}}
    <!-- DEV MODE - including each .css file -->
    {{#each site.css}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <link rel="stylesheet" href="css/masonry-docs.css" />
  {{/if}}

  {{! Twitter Cards }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@desandro" />
  <meta name="twitter:url" content="http://masonry.desandro.com/{{basename}}.html" />
  <meta name="twitter:title" content="Masonry{{#unless page.is_homepage}} {{page.title}}{{/unless}}" />
  <meta name="twitter:description" content="Cascading grid layout library" />

</head>
<body class="{{basename}}-page" data-page="{{basename}}">

  <div id="site-nav">
    <div class="primary-content">
      <h1><a href=".">Masonry</a></h1>
      <ol>
        <li class="nav-options"><a href="options.html">Options</a></li>
        <li class="nav-methods"><a href="methods.html">Methods</a></li>
        <li class="nav-events"><a href="events.html">Events</a></li>
        <li class="nav-appendix"><a href="appendix.html">Appendix</a></li>
        <li class="nav-faq"><a href="faq.html">FAQ</a></li>
      </ol>
    </div>
  </div>

  {{! display hero only on index page }}
  {{#if page.is_homepage}}
    {{>hero}}
  {{/if}}

  <div id="content">

    <div class="primary-content">
      {{#unless page.is_homepage}}
        <h1>{{page.title}}</h1>
        {{/unless}}

      {{! page nav }}
      {{#if page.nav}}
        <ul id="page-nav">
          {{#each page.nav}}
            <li><a href="#{{slug this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    {{! all page content goes here }}
    {{{ content }}}

  </div>

  <div id="footer">
    <div class="primary-content">
      <p class="made-by">
        Masonry is made by <a href="http://desandro.com">David DeSandro</a>.
        Make something rad with it.
        {{#unless is_dev}}
          &nbsp;&nbsp;Dave also makes:
        {{/unless}}
      </p>

      {{#unless is_dev}}
      <div class="row other-products">

        <div class="cell other-product isotope-product">
          <a href="http://isotope.metafizzy.co/">
            <img src="http://i.imgur.com/xfGupRf.png" alt="Isotope" />
            <h3>Isotope</h3>
            <p class="description">Filter &amp; sort magical layouts</p>
          </a>
        </div>

        <div class="cell other-product packery-product">
          <a href="http://packery.metafizzy.co/">
            <img src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
            <h3>Packery</h3>
            <p class="description">Bin-packing layout library. Like Masonry, but without gaps. Draggable too!</p>
          </a>
        </div>

      </div>

      <div class="row refactor-shirt">
        <a href="https://cottonbureau.com/products/refactor">
          <h3>Refactor shirts</h3>
          <img src="http://i.imgur.com/HhS7Klj.jpg" alt="Refactor shirt" />
        </a>
        <p>Printed on super-soft American Apparel Tri-blend t-shirts. Tri-Black and Tri-Indigo colors. Available in women's sizes.</p>
      </div>
      {{/unless}}

    </div>
  </div>

<!-- Masonry does NOT require jQuery.
     jQuery is only used to demonstrate Masonry as a jQuery plugin -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')</script>

{{#if is_dev}}
  <!-- DEV MODE - including each .js file -->
  {{#each site.js}}
    <script src="{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="js/masonry-docs.min.js"></script>
{{/if}}

{{#unless is_dev}}
  <!-- Google Analytics - Remove this if you copy/pasted this page -->
  <script>
    var _gaq=[['_setAccount','UA-592624-5'],['_trackPageview'],['_setDomainName', 'desandro.com']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{/unless}}

</body>
</html>
