<div class="refactor-shirt" data-js="refactor-shirt">
  <a class="refactor-shirt__link" href="https://cottonbureau.com/products/refactor">
    <h3 class="refactor-shirt__title">Refactor shirts</h3>
    <img class="refactor-shirt__image" src="http://i.imgur.com/zLv36oi.jpg" alt="Refactor shirt" />
  </a>
  <p class="refactor-shirt__description">Printed on super-soft Next Level t-shirts. Tri-blend Vintage Black or Poly-Cotton Indigo. Available in women's sizes. Makes a chill gift.</p>
</div>
