---
isHomepage: true
---

{{! ----------------------------------------------------------- }}

<h2>Install</h2>

{{! ----------------------------------------------------------- }}

<h3>Download</h3>

<ul>
  <li>
    <a href="{{sourceUrlPath}}masonry.pkgd.min.js">masonry.pkgd.min.js</a> minified, or
  </li>
  <li>
    <a href="{{sourceUrlPath}}masonry.pkgd.js">masonry.pkgd.js</a> un-minified
  </li>
</ul>

{{! ----------------------------------------------------------- }}

<h3>CDN</h3>

<p>Link directly to Masonry files on <a href="https://unpkg.com">unpkg</a>.</p>

``` html
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- or -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
```

{{! ----------------------------------------------------------- }}

<h3>Package managers</h3>

<p>Install with <a href="https://bower.io">Bower</a>: &nbsp;<code>bower install masonry --save</code></p>

<p><a href="https://www.npmjs.com/package/masonry-layout">Install with npm</a>: &nbsp;<code>npm install masonry-layout</code></p>

{{! ----------------------------------------------------------- }}

<h2>Getting started</h2>

{{! ----------------------------------------------------------- }}

<h3>HTML</h3>

<p>Include the Masonry <code>.js</code> file in your site.</p>

``` html
<script src="/path/to/masonry.pkgd.min.js"></script>
```

<p>Masonry works on a container grid element with a group of child items.</p>

``` html
<div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
</div>
```

{{! ----------------------------------------------------------- }}

<h3>CSS</h3>

<p>All sizing of items is handled by your CSS.</p>

``` css
.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
```

{{! ----------------------------------------------------------- }}

<h3>Initialize with jQuery</h3>

<p>You can use Masonry as a jQuery plugin:
  <code>$(<span class="string">'selector'</span>).masonry()</code>.</p>

``` js
$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
```

{{! ----------------------------------------------------------- }}

<h3>Initialize with Vanilla JavaScript</h3>

<p>You can use Masonry with vanilla JS:
  <code><span class="keyword">new</span> <span class="masonry_keyword">Masonry</span>( elem, options )</code>.
  The <code><span class="masonry_keyword">Masonry</span>()</code> constructor accepts two arguments: the container element and an options object.</p>

``` js
var elem = document.querySelector('.grid');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});

// element argument can be a selector string
//   for an individual element
var msnry = new Masonry( '.grid', {
  // options
});
```

{{! --------------------------------------------------- }}

<h3>Initialize in HTML</h3>

<p>You can initialize Masonry in HTML, without writing any JavaScript. Add <code>data-masonry</code> attribute to the container element. <a href="options.html">Options</a> can be set in its value.</p>

``` html
<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
```

{{> edit-demo default="vLeBLV" }}

<div class="call-out">
  <p>Options set in HTML must be valid JSON. Keys need to be quoted, for example <code><span class="string">"itemSelector"</span>:</code>. Note the value of <code>data-masonry</code> is set with single quotes <code>'</code>, but JSON entities use double-quotes <code>"</code>.</p>
</div>

<p>HTML initialization was previously done with a class of <code>js-masonry</code> and setting options in <code>data-masonry-options</code> in Masonry v3. Masonry v4 is backwards compatible with this code.</p>

``` html
<div class="grid js-masonry"
  data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
```

<h2>Next</h2>

<p>Learn more about how to use Masonry:</p>

<ul>
  <li><a href="layout.html">Layout</a></li>
  <li><a href="options.html">Options</a></li>
  <li><a href="methods.html">Methods</a></li>
</ul>

{{! --------------------------------------------------- }}

<h2>MIT License</h2>

<p>Masonry is released under the <a href="https://desandro.mit-license.org/">MIT License</a>. Have at it.</p>


<div id="notification"></div>
