<a class="logo-pizza-banner" href="http://logo.pizza">
  <img class="logo-pizza-banner__img" src="http://i.imgur.com/SGskWmF.png" alt="Logo Pizza" />
  <h3 class="logo-pizza-banner__title">Logo Pizza</h3>
  <p class="logo-pizza-banner__tagline">Hot &amp; ready logos for sale</p>
</a>
