<div class="site-footer">

  <div class="container">
      <p class="site-footer__copy">
        Masonry is made by <a href="http://desandro.com">David DeSandro</a>.
        Make something rad with it.
        {{#unless is_export}}
          &nbsp;&nbsp;Dave also makes:
        {{/unless}}
      </p>

    {{#unless is_export}}
      {{> other-products}}
    {{/unless}}

    <p class="site-footer__copy">Help improve these docs.
      <a href="https://github.com/desandro/masonry-docs/issues/">Open an issue</a> or
      <a href="https://github.com/desandro/masonry-docs/blob/master/{{file_path}}">pull request</a>.</p>

  </div>

</div>
