<div class="duo__cell example__demo" data-js-module="stagger">
  <p class="instruction">Click item to toggle size</p>

  <div class="grid grid--clickable">
    {{> grid-items}}
  </div>

  {{> edit-demo default="rLdLdB" vanillaJS="oLqLqW" }}
</div>
