<div class="duo__cell example__demo" data-js-module="destroy-demo">
  <button class="button toggle-button">Toggle Masonry</button>
  <div class="grid">
    {{> grid-items}}
  </div>
  {{> edit-demo default="jPyoRE" vanillaJS="EogCw" }}
</div>
