<div class="duo__cell example__demo" data-js-module="animate-item-size">
  <p class="instruction">Click to item to toggle size</p>
  <div class="grid">
    {{> animate-item-size-items}}
  </div>
  {{#codepens.animate_item_size}}
    {{> edit-demo}}
  {{/codepens.animate_item_size}}
</div>
