<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
<div class="animate-item-size-item">
  <div class="animate-item-size-item__content"></div>
</div>
