<div class="example__demo">

  <div class="bootstrap-3__container-fluid">
    <div class="grid js-masonry" data-masonry-options='{ "itemSelector": ".bootstrap-3__grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
      <div class="grid-sizer bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3"></div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-8 bootstrap-3__col-md-6">
        <div class="bootstrap-3__grid-item-content"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3">
        <div class="bootstrap-3__grid-item-content"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3">
        <div class="bootstrap-3__grid-item-content bootstrap-3__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-8 bootstrap-3__col-md-6">
        <div class="bootstrap-3__grid-item-content"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3">
        <div class="bootstrap-3__grid-item-content bootstrap-3__grid-item-content--height2"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3">
        <div class="bootstrap-3__grid-item-content"></div>
      </div>
      <div class="bootstrap-3__grid-item bootstrap-3__col-xs-6 bootstrap-3__col-sm-4 bootstrap-3__col-md-3">
        <div class="bootstrap-3__grid-item-content"></div>
      </div>
    </div>

  </div>

  {{#codepens.bootstrap3_mq}}
    {{> edit-demo}}
  {{/codepens.bootstrap3_mq}}
</div>
