<div class="duo__cell example__demo" data-js="animate-item-size-responsive">
  <p class="instruction">Click to item to toggle size</p>
  <div class="grid grid--animate-item-size-responsive">
    <div class="grid-sizer"></div>
    {{> animate-item-size-items}}
  </div>
  {{> edit-demo default= "JFpIB" vanillaJS= "BnCqy" }}
</div>
