<div class="duo__cell example__demo" data-js="animate-item-size">
  <p class="instruction">Click to item to toggle size</p>
  <div class="grid">
    {{> animate-item-size-items}}
  </div>
  {{> edit-demo default="daKBo" vanillaJS= "ILbJy" }}
</div>
