<div class="duo__cell example__demo" data-js-module="remove-demo">
  <p class="instruction">Click items to remove</p>
  <div class="grid grid--clickable">
    {{> grid-items}}
  </div>
  {{> edit-demo default="aOprQW" vanillaJS="IBJeq" }}
</div>
