<div class="fizzy-bear-shirt" data-js-module="fizzy-bear-shirt">
  <a class="fizzy-bear-shirt__link" href="https://cottonbureau.com/products/fizzy-bear">
    <h3 class="fizzy-bear-shirt__title">Rainbow bear shirts</h3>
    <img class="fizzy-bear-shirt__image" src="http://i.imgur.com/Q7kHQhh.jpg" alt="Rainbow bear shirt" />
  </a>
  <p class="fizzy-bear-shirt__description">Printed on soft Next Level Poly-cotton t-shirts, in Bondi Blue, Apple Green, and Heather Gray. Available in women's sizes. Makes a great summer gift.</p>
</div>
