<a class="button buy-button" href="https://www.simplegoods.co/i/HCMOSOEP">
  <span class="label">Buy Developer License</span>
  <span class="price">
    <span class="dollar">$</span><span class="amount">25</span>
  </span>
</a>
