<div id="hero">
  <div class="primary-content">

    <h1>Masonry</h1>
    <p class="tagline">Cascading grid layout library</p>

    <ul class="big-ol-buttons row row3">
      <li class="cell download-js">
        <a class="button" href="masonry.pkgd.min.js">
          <i class="icon icon-file-download"></i>
          Download masonry.&#8203;pkgd.&#8203;min.js
        </a>
      </li>

      {{! show download docs only in production }}
      {{!unless isDev}}
        <li class="cell download-docs">
          <a class="button" href="masonry-docs.zip">
            <i class="icon icon-folder-download"></i>
            Download these docs
          </a>
        </li>
      {{!unless}}

      <li class="cell github">
        <a class="button" href="https://github.com/desandro/masonry">
          <i class="icon icon-github"></i>
          Packery on GitHub
        </a>
      </li>
    </ul>

  </div> {{! .primary-content }}

</div> {{! #hero }}
