<div id="hero">
  <div class="primary-content">

    <div class="hero-masonry">
      <div class="grid-sizer"></div>

      <div class="hero-item has-title texty">
        <h1>Masonry</h1>
        <p class="tagline">Cascading grid layout library</p>
      </div>

      <div class="hero-item">
        <a class="button download-js" href="masonry.pkgd.min.js">
          <i class="icon icon-file-download"></i>
          Download masonry.&#8203;pkgd.&#8203;min.js
        </a>
      </div>

      {{! show download docs only in production }}
      {{!unless isDev}}
        <div class="hero-item">
          <a class="button download-docs" href="masonry-docs.zip">
            <i class="icon icon-folder-download"></i>
            Download these docs
          </a>
        </div>
      {{!unless}}

      <div class="hero-item">
        <a class="button github" href="https://github.com/desandro/masonry">
          <i class="icon icon-github"></i>
          Masonry on GitHub
        </a>
      </div>

      <div class="hero-item w2 what-is texty">
        <h2>What is Masonry?</h2>
        <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on available vertical space, sort of like a mason fitting stones in a wall. You&rsquo;ve probably seen it in use all over the Internet.</p>
      </div>

    </div> {{! .hero-masonry}}

    <div>
      <a href="#" id="load-more-examples" class="button">Load more examples</a>
    </div>

  </div> {{! .primary-content }}

</div> {{! #hero }}
