<a class="button buy-button" href="https://www.simplegoods.co/i/MPIYMUZN">
  <span class="label">Buy Organization License</span>
  <span class="price">
    <span class="dollar">$</span><span class="amount">90</span>
  </span>
</a>
