<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Cascading grid layout library" />

  <title>Masonry{{#unless page.is_homepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#if is_dev}}
    {{! DEV MODE - including each .css file }}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <link rel="stylesheet" href="{{#if page.is_404}}/{{/if}}css/masonry-docs.css" media="screen" />
  {{/if}}

</head>
<body class="page--{{basename}}" data-page="{{basename}}">

  {{> site-nav}}

  {{! display hero only on homepage }}
  {{#if page.is_homepage}}
    {{> hero}}
  {{/if}}

  <div id="content" class="content container">

    {{#unless page.is_homepage}}
      <h1>{{page.title}}</h1>
    {{/unless}}

    {{> page-nav}}

{{! all page content goes here }}
{{> body}}

  </div>

  {{> site-footer}}

<!-- Masonry does NOT require jQuery.
     jQuery is only used to demonstrate Masonry as a jQuery plugin -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

{{#if is_dev}}
  {{#each js_paths}}
    {{! DEV MODE - including each .js file }}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="{{#if page.is_404}}/{{/if}}js/masonry-docs.min.js"></script>
{{/if}}

{{#unless is_export}}
  <!-- Google Analytics - Remove this if you copy/pasted this page -->
  <script>
    var _gaq=[['_setAccount','UA-592624-5'],['_trackPageview'],['_setDomainName', 'desandro.com']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{/unless}}

</body>
</html>
