<!doctype html>
<!--[if lte IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Cascading grid layout library" />

  <title>Masonry{{#unless page.is_homepage}} {{page.title}}{{/unless}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400,700,400italic" />

  {{#if isDev}}
    <!-- DEV MODE - including each .css file -->
    {{#each site.css}}
      <link rel="stylesheet" href="{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <link rel="stylesheet" href="css/masonry-docs.css" />
  {{/if}}

  {{! Twitter Cards }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@desandro" />
  <meta name="twitter:url" content="http://masonry.desandro.com/{{basename}}.html" />
  <meta name="twitter:title" content="Masonry{{#unless page.is_homepage}} {{page.title}}{{/unless}}" />
  <meta name="twitter:description" content="Cascading grid layout library" />

</head>
<body class="{{basename}}-page" data-page="{{basename}}">

  <div id="site-nav">
    <div class="primary-content">
      <h1><a href=".">Masonry</a></h1>
      <ol>
        <li class="nav-options"><a href="options.html">Options</a></li>
        <li class="nav-methods"><a href="methods.html">Methods</a></li>
        <li class="nav-events"><a href="events.html">Events</a></li>
        <li class="nav-appendix"><a href="appendix.html">Appendix</a></li>
        <li class="nav-faq"><a href="faq.html">FAQ</a></li>
      </ol>
    </div>
  </div>

  {{! display hero only on index page }}
  {{#if page.is_homepage}}
    {{>hero}}
  {{/if}}

  <div id="content">

    <div class="primary-content">
      {{#unless page.is_homepage}}
        <h1>{{page.title}}</h1>
        {{/unless}}

      {{! page nav }}
      {{#if page.nav}}
        <ul id="page-nav">
          {{#each page.nav}}
            <li><a href="#{{slug this}}">{{this}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    {{! all page content goes here }}
    {{{ content }}}

  </div>

  <div id="footer">
    <div class="primary-content">
      Masonry by <a href="http://desandro.com">David DeSandro</a>. Make something rad with it.
    </div>
  </div>

<!-- Masonry does NOT require jQuery.
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
     jQuery is only used to demonstrate Masonry as a jQuery plugin -->
<script>window.jQuery || document.write('<script src="components/jquery/jquery.min.js"><\/script>')</script>

{{#if isDev}}
  <!-- DEV MODE - including each .js file -->
  {{#each site.js}}
    <script src="{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="js/masonry-docs.min.js"></script>
{{/if}}


</body>
</html>
