<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Cascading grid layout library" />

  <title>Masonry{{#unless page.is_homepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#if is_dev}}
    {{! DEV MODE - including each .css file }}
    {{#each css_paths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    {{! in production, just include concat CSS }}
    <link rel="stylesheet" href="{{#if page.is_404}}/{{/if}}css/masonry-docs.css" media="screen" />
  {{/if}}

</head>
<body class="page--{{basename}}" data-page="{{basename}}">

  {{> site-nav}}

  {{! display hero only on index page }}
  {{#if page.is_homepage}}
    {{>hero}}
  {{/if}}

  <div id="content" class="content container">

    {{#unless page.is_homepage}}
      <h1>{{page.title}}</h1>
    {{/unless}}

    {{> page-nav}}

{{! all page content goes here }}
{{> body}}

  </div>

  <div id="footer">
    <div class="container">
      <p class="made-by">
        Masonry is made by <a href="http://desandro.com">David DeSandro</a>.
        Make something rad with it.
        {{#unless is_dev}}
          &nbsp;&nbsp;Dave also makes:
        {{/unless}}
      </p>

      {{#unless is_export}}
      <div class="row other-products">
        <div class="cell other-product isotope-product">
          <a href="http://isotope.metafizzy.co/">
            <img src="http://i.imgur.com/xfGupRf.png" alt="Isotope" />
            <h3>Isotope</h3>
            <p class="description">Filter &amp; sort magical&nbsp;layouts</p>
          </a>
        </div>

        <div class="cell other-product flickity-product">
          <a href="http://flickity.metafizzy.co/">
            <img src="http://i.imgur.com/8BFo4Aj.png" alt="Flickity" />
            <h3>Flickity</h3>
            <p class="description">Touch, responsive, flickable&nbsp;galleries</p>
          </a>
        </div>
      </div>

      <div class="row other-products">
        <div class="cell other-product packery-product">
          <a href="http://packery.metafizzy.co/">
            <img src="http://i.imgur.com/uRXPQfm.png" alt="Packery" />
            <h3>Packery</h3>
            <p class="description">Gap-less, draggable, bin-packing layout&nbsp;library</p>
          </a>
        </div>
      </div>
      {{/unless}}

    </div>
  </div>

<!-- Masonry does NOT require jQuery.
     jQuery is only used to demonstrate Masonry as a jQuery plugin -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

{{#if is_dev}}
  {{#each js_paths}}
    {{! DEV MODE - including each .js file }}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  {{! in production, just include concat/minified js }}
  <script src="{{#if page.is_404}}/{{/if}}js/masonry-docs.min.js"></script>
{{/if}}

{{#unless is_export}}
  <!-- Google Analytics - Remove this if you copy/pasted this page -->
  <script>
    var _gaq=[['_setAccount','UA-592624-5'],['_trackPageview'],['_setDomainName', 'desandro.com']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{/unless}}

</body>
</html>
