<div class="duo__cell example__demo" data-js="stamp-methods-demo">
  <button class="button stamp-button">Toggle stamped</button>
  <div class="grid grid--has-stamp grid--stamp-methods-demo">
    <div class="stamp stamp--stamp-methods-demo"></div>
    {{> grid-items}}
  </div>
  {{> edit-demo default="MwJvbq" vanillaJS="wKpjs" }}
</div>
