<div class="duo__cell example__demo" data-js-module="layout-complete-demo">
  <p class="instruction">Resize browser or click item to toggle size</p>
  <div class="grid grid--clickable">
    {{> grid-items}}
  </div>
  {{#codepens.layout_complete}}
    {{> edit-demo}}
  {{/codepens.layout_complete}}
</div>
