<div class="duo__cell example__demo" data-js-module="animate-item-size-responsive">
  <p class="instruction">Click to item to toggle size</p>
  <div class="grid grid--animate-item-size-responsive">
    <div class="grid-sizer"></div>
    {{> animate-item-size-items}}
  </div>
  {{#codepens.animate_item_size_responsive}}
    {{> edit-demo}}
  {{/codepens.animate_item_size_responsive}}
</div>
